* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
	color: #fff;
}

.radikal-logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header-login a {
    color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
}

/* CALENDAR CALENDAR */

.calendar {
	font-family: sans-serif;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-top: 1%;
	margin-bottom: 1%;
}

.calendar thead tr th {
	background: #626e7e;
	color: #d1d5db;
	padding: 0.5em;
	overflow: hidden;
}

.calendar thead tr th:first-child {
	border-radius: 10px 0 0 0;
}

.calendar thead tr th:last-child {
	border-radius: 0 10px 0 0;
}

.calendar thead tr th .day {
	font-size: 1.2em;
	display: block;
	text-align: center;
}

.calendar thead tr th .long {
	font-size: 1em;
	display: block;
	text-align: center;	
}

.calendar thead tr th .short {
	display: none;
}

.calendar thead tr th i {
	vertical-align: middle;
	font-size: 2em;
}

.calendar tbody tr {
	background: #d1d5db;
}

.calendar tbody tr:nth-child(odd) {
	background: #bbc0c7;
}

.calendar tbody tr:nth-child(1n + 0) td {
	border-bottom: 1px solid #626e7e;
}

.calendar tbody tr td {
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #626e7e;
	position: relative;
	height: 35px;
}

.calendar tbody tr td:last-child {
	border-right: 1px solid #626e7e;
}

.calendar tbody tr td.hour {
	font-size: 2em;
	padding: 0;
	color: #626e7e;
	background: #fff;
	border-bottom: 1px solid #626e7e;
	border-collapse: separate;
	min-width: 100px;
	cursor: default;
}

.calendar tbody tr td.hour span {
	display: block;
}

@media (max-width: 991px) {
	.calendar thead tr th .long {
	  	display: none;
	}
	.calendar thead tr th .short {
	  	display: block;
		text-align: center;
	}
	.calendar tbody tr td.hour {
		font-size: 1.1em;
		padding: 5px;
	}
}

@media (max-width: 27em) {
	.calendar thead tr th {
	  	font-size: 65%;
	}
	.calendar thead tr th .day {
		display: block;
		font-size: 1.2em;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin: 0 auto 5px;
		padding: 5px;
	}
	.calendar thead tr th .day.active {
		background: #d1d5db;
		color: #626e7e;
	}
	.calendar tbody tr td.hour {
	  	font-size: 1.7em;
	}
	.calendar tbody tr td.hour span {
		transform: translateY(16px) rotate(270deg);
		-webkit-transform: translateY(16px) rotate(270deg);
		-moz-transform: translateY(16px) rotate(270deg);
	}
}

.calendar tbody tr td.busy div,
.calendar tbody tr td.available div,
.calendar tbody tr td.unavailable div {
	background: #0d60ccab;
	height: 90%;
	width: 95%;
	display: block;
	margin: auto;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	padding: 5% 0;
	font-size: 1.2em;
	color: #fff;
}

.calendar tbody tr td.available div {
	background: #09b4127e;
}

.calendar tbody tr td.unavailable div {
	background: #ff04197e;
	cursor: default;
}

.forgot-password {
	text-decoration: underline;
	color: blue;
	margin-left: 4rem;
}

.header-name {
	font-size: 1.4em;
	cursor: pointer;
}

.recover {
	padding: 30%;
}

.attendance-checkbox {
	float: right;
}

.user-list button {
	float: right;
}

.loading-calendar {
	display: table;
	margin: auto;
	margin-top: 5rem;
}

.loading-calendar span {
	font-size: 1.8rem;
	font-family: monospace;
	margin-left: 1rem;
}

#jitsi-container {
	position: absolute;
}

.bi-file-pdf {
	cursor: pointer;
	font-size: 1.2rem;
}

.workout-type {
	min-width: 260px;
	max-width: 260px;
	border-radius: 25px;
	margin: 0.3rem 0.3rem;
	padding: 0.3rem 0.8rem;
	text-align: center;
	font-size: 1.3rem;
}

.workout-type span {
	cursor: pointer;
}

.workout-type:hover > .bi-x-circle-fill {
	display: block;
} 

.workout-type .bi-x-circle-fill {
	display: none;
	font-size: 1.3rem;
	float: right;
	vertical-align: middle;
	cursor: pointer;
}

.add-type {
	background-color: gray;
	color: white;
	cursor: pointer;
}

.add-type:hover {
	background-color: rgb(99, 99, 99);
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 460px;
		margin: 1.75rem auto;
	}
}