* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
	color: #fff;
}

.radikal-logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header-login a {
    color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
}

/* CALENDAR CALENDAR */

.calendar {
	font-family: sans-serif;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-top: 1%;
	margin-bottom: 1%;
}

.calendar thead tr th {
	background: #626e7e;
	color: #d1d5db;
	padding: 0.5em;
	overflow: hidden;
}

.calendar thead tr th:first-child {
	border-radius: 3px 0 0 0;
}

.calendar thead tr th:last-child {
	border-radius: 0 3px 0 0;
}

.calendar thead tr th .day {
	display: block;
	font-size: 1.2em;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 auto 5px;
	padding: 5px;
	line-height: 1.8;
}

.calendar thead tr th .day.active {
	background: #d1d5db;
	color: #626e7e;
}

.calendar thead tr th .short {
	display: none;
}

.calendar thead tr th i {
	vertical-align: middle;
	font-size: 2em;
}

.calendar tbody tr {
	background: #d1d5db;
}

.calendar tbody tr:nth-child(odd) {
	background: #c8cdd4;
}

.calendar tbody tr:nth-child(2n + 0) td {
	border-bottom: 1px solid #626e7e;
}

.calendar tbody tr td {
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #626e7e;
	position: relative;
	height: 35px;
	cursor: pointer;
}

.calendar tbody tr td:last-child {
	border-right: 1px solid #626e7e;
}

.calendar tbody tr td.hour {
	font-size: 2em;
	padding: 0;
	color: #626e7e;
	background: #fff;
	border-bottom: 1px solid #626e7e;
	border-collapse: separate;
	min-width: 100px;
	cursor: default;
}

.calendar tbody tr td.hour span {
	display: block;
}

@media (max-width: 60em) {
	.calendar thead tr th .long {
	  	display: none;
	}
	.calendar thead tr th .short {
	  	display: block;
	}
	.calendar tbody tr td.hour span {
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
	}
}

@media (max-width: 27em) {
	.calendar thead tr th {
	  	font-size: 65%;
	}
	.calendar thead tr th .day {
		display: block;
		font-size: 1.2em;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin: 0 auto 5px;
		padding: 5px;
	}
	.calendar thead tr th .day.active {
		background: #d1d5db;
		color: #626e7e;
	}
	.calendar tbody tr td.hour {
	  	font-size: 1.7em;
	}
	.calendar tbody tr td.hour span {
		transform: translateY(16px) rotate(270deg);
		-webkit-transform: translateY(16px) rotate(270deg);
		-moz-transform: translateY(16px) rotate(270deg);
	}
}
  